.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.links > a {
    text-decoration: none;
    color: inherit;
}

.links > a:visited {
    color: inherit;
}

.displayLists {
    position: absolute;
    background-color: white;
    padding: 10px;
    margin-top: -10px;
}

.logoLeft {
    display: flex;
    padding-left: 20px;
}

.rightLinks {
    display: flex;
    gap: 80px;
    padding-right: 20px;
}

@media (max-width: 800px) {
    .rightLinks {
        gap: 30px;
    }


    .container {
        margin-bottom: 15px;
    }
}

@media (max-width: 500px) {
    .rightLinks {
        gap: 15px;
    }
}

@media (max-width: 450px) {
    .links {
       font-size: .8rem; 
    }
}

@media (max-width: 400px) {
    .links {
       font-size: .75rem; 
    }
    .rightLinks {
        gap: 10px;
    }
}

@media (max-width: 315px) {
    .links {
       font-size: .75rem; 
    }
    .rightLinks {
        gap: 5px;
    }
    .links {
        font-size: .7rem; 
    }
}