.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.links > a {
    text-decoration: none;
    color: inherit;
}

.links > a:visited {
    color: inherit;
}

.displayLists {
    position: absolute;
}

.logoLeft {
    display: flex;
    padding-left: 20px;
}

.rightLinks {
    display: flex;
    gap: 80px;
    padding-right: 20px;
}