.idMain {
    margin-top: 100px;
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.plot {
    text-align: left;
    max-width: 100%;
}

.idButtonDiv {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.idButtons {
    width: 80px;
}

.posterLeft {
    display: flex;
    gap: 50px;
}

.infoRight {
    max-width: 450px;
    text-align: left;
    display: flex;
    flex-direction: column;
    max-height: 300px;
}

.poster {
    width: 350px;
    height: auto;
    border-radius: 15px;
    border: solid 1px #5D5F68;
    object-fit: cover;
}

.noPoster {
    width: 350px;
    height: auto;
}

.idSearchButtonDiv {
    display: flex;
    justify-content: space-between;
    width: 185px;
}

.removeBtn {
    background-color: #EF5555;
    transition: .3s;
}

.removeBtn:hover {
    background-color: #FF8080;
    transition: .3s;
}

@media (max-width: 900px) {
    .posterLeft {
        margin-top: -40px;
        flex-direction: column;
        align-items: center;
    }

    .infoRight {
        text-align: center;
        margin-top: -40px;
    }

    .idButtonDiv {
        align-self: center;
    }

    .plot {
        text-align: center;
    }

    .idSearchButtonDiv {
        align-self: center;
    }

    .poster,
    .noPoster {
        width: 250px;
        height: auto;
        margin-top: -30px;
    }

    .title {
        font-size: 1.5rem;
    }
}

@media (max-width: 750px) {
    .idButtonDiv {
        width: 350px;
    }

    .idButtons {
        width: 100px;
    }

    .poster,
    .noPoster {
        width: 230px;
        height: auto;
    }
}

@media (max-width: 570px) {
    .idButtons {
        width: 100px;
    }
}

@media (max-width: 530px) {

    .poster,
    .noPoster {
        width: 200px;
        height: auto;
    }

    .title {
        font-size: 1.2rem;
    }

    .infoRight {
        font-size: .9rem;
    }

    .idButtons {
        font-size: .7rem;
    }

    .idMain {
        min-height: 90vh;
    }
}

@media (max-width: 400px) {
    .idMain {
        font-size: .85rem;
        min-height: 80vh;
    }

    .infoRight {
        width: 330px;
        font-size: .8rem;
    }

    .idButtons {
        width: 100px;
    }

    .idSearchButtonDiv {
        width: 150px;
    }

    .idButtonDiv {
        width: 250px;
    }

    .idButtons {
        width: 70px;
    }

    .poster {
        width: 180px;
        height: auto;
        border-radius: 10px;
    }

    .posterLeft {
        margin-top: -60px;
    }

    .title {
        font-size: 1rem;
    }
}

@media (max-width: 350px) {
    .infoRight {
        width: 300px;
        font-size: .75rem;
    }

    .title {
        font-size: .8rem;
    }

    .poster,
    .noPoster {
        width: 160;
        height: auto;
        margin-top: -10px;
    }

    .idMain {
        min-height: 90vh;
    }
}

@media (max-width: 330px) {
    .plot {
        width: 250px;
    }

    .infoRight {
        width: 250px;
    }
}