.idMain {
    margin-top: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.plot {
    text-align: left;
    max-width: 100%;
}

.idButtonDiv {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.idButtons {
    width: 80px;
}

.posterLeft {
    display: flex;
    gap: 50px;
}

.infoRight {
    max-width: 450px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poster {
    width: 350px;
    height: auto;
    border-radius: 15px;
}

.idSearchButtonDiv {
    display: flex;
    justify-content: space-between;
    width: 185px;
}

@media (max-width: 900px) {
    .posterLeft {
        margin-top: -40px;
        flex-direction: column;
        align-items: center;
    }

    .infoRight {
        text-align: center;
        margin-top: -40px;
    }

    .idButtonDiv {
        align-self: center;
    }

    .plot {
        text-align: center;
    }

    .idSearchButtonDiv {
        align-self: center;
    }
}

@media (max-width: 750px) {
    .title {
        font-size: 1.5rem;
    }

    .idButtonDiv {
        width: 350px;
    }

    .idButtons {
        width: 100px;
    }
}

@media (max-width: 570px) {
    .idButtons {
        width: 100px;
    }
}

@media (max-width: 530px) {
    .poster {
        width: 300px;
        height: auto;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 1.2rem;
    }
    
    .idMain {
        font-size: .85rem;
    }

    .idButtons {
        width: 100px;
    }

    .idSearchButtonDiv {
        width: 150px;
    }

    .idButtonDiv {
        width: 230px;
    }

    .idButtons {
        width: 70px;
    }

    .poster {
        width: 250px;
        height: auto;
        border-radius: 10px;
    }

    .posterLeft {
        margin-top: -60px;
    }
}

@media (max-width: 330px) {
    .poster {
        width: 220px;
        height: auto;
    }

    .plot {
        width: 250px;
    }

    .infoRight {
        width: 250px;
    }
}