.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.searchResults {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.links > a {
    text-decoration: none;
    color: inherit;
}

.links > a:visited {
    color: inherit;
}