.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.links {
    text-align: center;
    margin-top: auto;
    padding: 10px 0;
    width: 100%;
}

.links > a {
    text-decoration: none;
    color: inherit;
}

.links > a:visited {
    color: inherit;
}

.searchResults {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center;
}

.searchResults > div {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.searchResults img {
    height: 400px;
}
