.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.searchResults {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-content: center;
}

.searchResults>div {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.searchResults img {
    width: 250px;
    border-radius: 15px;
    border: solid 1px #5D5F68;
}

.searchBarDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}

.searchBarBox {
    width: 180px;
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0);
    }
}

.bob:hover {
    animation: bob 0.8s infinite;
}

.totalDiv,
.totalDivFaves {
    margin-top: -10px;
    display: flex;
    width: 110px;
    align-items: center;
    justify-content: space-between;
}

.watchIcon {
    width: 40px;
}

.seenIcon {
    width: 40px;
}

.favesIcon {
    height: 25px;
}

@media (max-width: 1100px) {
    .searchResults {
        max-width: 900px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .searchResults>div {
        width: 250px;
    }

    .searchResults img {
        width: 250px;
        height: auto;
    }
}

@media (max-width: 850px) {
    .searchResults {
        max-width: 650px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .searchResults>div {
        width: 180px;
    }

    .searchResults img {
        width: 180px;
        height: auto;
    }

    .listTitles {
        margin-bottom: -10px;
    }

    .totalDiv,
    .totalDivFaves {
        margin-top: 10px;
    }

    .totalDivFaves {
        width: 95px;
    }
}

@media (max-width: 615px) {
    .searchResults {
        max-width: 550px;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }

    .searchResults>div {
        width: 170px;
    }

    .searchResults img {
        width: 170px;
        height: auto;
    }

    .listTitles {
        margin-top: 5px;
        font-size: 1.5rem;
    }
}

@media (max-width: 570px) {
    .searchResults {
        max-width: 520px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .searchResults>div {
        width: 150px;
    }

    .searchResults img {
        width: 150px;
        height: auto;
    }
}

@media (max-width: 500px) {
    .main {
        min-height: 75vh;
    }

    .searchTitle {
        font-size: 1.7rem;
    }

    .searchResults {
        max-width: 440px;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }

    .searchResults>div {
        width: 130px;
    }

    .searchResults img {
        width: 130px;
        height: auto;
    }

    .totalDiv {
        width: 100px;
        margin-bottom: -10px;
    }

    .totalDivFaves {
        margin-bottom: -10px;
    }

    .watchIcon {
        width: 30px;
    }

    .seenIcon {
        width: 30px;
    }

    .favesIcon {
        height: 20px;
    }
}

@media (max-width: 445px) {
    .searchResults {
        max-width: 380px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .main>h1 {
        font-size: 1.5rem;
    }

    .searchResults>div {
        width: 100px;
    }

    .searchResults img {
        width: 100px;
        height: auto;
        border-radius: 8px;
    }
}

@media (max-width: 400px) {
    .searchResults {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        max-width: 350px;
        gap: 10px;
    }

    .searchResults>div {
        width: 100px;
    }

    .searchResults img {
        width: 100px;
        height: auto;
    }
}

@media (max-width: 350px) {
    .main>h1 {
        font-size: 1.2rem;
    }

    .main {
        font-size: .9rem;
    }

    .searchResults {
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        max-width: 300px;
    }

    .searchResults>div {
        width: 90px;
    }

    .searchResults img {
        width: 90px;
        height: auto;
    }

    .totalDiv {
        width: 90px;
    }

    .totalDivFaves {
        width: 80px;
    }

    .searchBarBox {
        width: 160px;
        font-size: .7rem;
    }

    .searchButton {
        font-size: .7rem;
    }
}

@media (max-width: 330px) {
    .searchResults {
        max-width: 280px;
    }

    .searchResults>div {
        width: 80px;
    }

    .searchResults img {
        width: 80px;
        height: auto;
    }

    .watchIcon {
        width: 25px;
    }

    .seenIcon {
        width: 25px;
    }

    .favesIcon {
        height: 15px;
    }

    .totalDiv {
        width: 85px;
    }

    .totalDivFaves {
        width: 75px;
    }
}